#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Icon[en_US]=/home/pops/Documents/Trains/ControlPanel/src/Dispatcher.png
Terminal=false
Exec=/home/pops/Documents/Trains/ControlPanel/src/Panel
Name[en_US]=Throttle
Comment[en_US]=Dispatcher Panel GUI
Name=Dispatcher
Comment=Dispatcher Panel GUI
Icon=/home/pops/Documents/Trains/ControlPanel/src/Dispatcher.png
